div {
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.green {
    color: #8FC640;
}
#bg {
    background-image: url('img/background.jpg');
    position: relative;
    z-index: 1;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-top: 5rem;
}
    #bg .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        background: #000000;
        opacity: 0.6;
    }

.btn-custom {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 4px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: #000;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    border: 2px solid #8FC640;
}

    .btn-custom:hover {
        background: #1bbd36;
        color: #fff !important;
        text-decoration: none;
    }


a:nth-child(5) {
    background-color: green;
    color: white;
}

/*a:nth-child(1) {
    font-weight: bold;
}

a:nth-child(7) {
    font-weight: bold;
}*/

ul.pagination {
    padding: 0;
    margin: 0;
}

ul.pagination li {
    display: inline;
}

    ul.pagination li a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s;
    }

        ul.pagination li.active {
            background-color: #4CAF50;
            color: white;
        }

        ul.pagination li:hover:not(.active) {
            background-color: #ddd;
        }

.firstcharacter {
    color: #8FC640;
    float: left;
    font-family: Roboto, sans-serif;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
}

#choose {
    background: #8FC640;
    color: white;
}

#choose .section-title h2{
    padding-bottom:0px;
}
#choose .section-title .custom-border {

    background: #403f45 none repeat scroll 0 0;
    border-radius: 2px;
    display: inline-block;
    height: 3px;
    position: relative;
    width: 50px;
    margin-top: 10px;
}

#choose .content {
    margin: 0 auto;
}
    #choose .content ul {
        list-style: none;
        padding: 0;
    }

        #choose .content ul li {
            padding: 10px 0 0 28px;
            position: relative;
        }

        #choose .content ul i {
            left: 0;
            top: 7px;
            position: absolute;
            font-size: 20px;
        }

#custom-testimonials {
    background-color: #1E1E1E;
    color:white;
}

#testimonials1{
    margin: 0 auto;
    width: 80%;
}

    #testimonials1 .star-wrapper {
        position: relative;
        display: inline-block;
        margin: 0.15rem;
    }

        #testimonials1 .star-wrapper i.star {
            font-size: 1.6rem;
            opacity: 0;
            transition-duration: 0.5s;
            color: #8FC640;
            border-radius: 50%;
        }

        #testimonials1 .star-wrapper.active i.star {
            opacity: 1;
            transform: rotateY(360deg);
            transition-duration: 0.5s;
        }

        #testimonials1 .star-wrapper i.inside-star {
            position: absolute;
            font-size: 0;
            left: 50%;
            top: 50%;
            color: whitesmoke;
            opacity: 1;
        }

        #testimonials1 .star-wrapper.active i.inside-star {
            font-size: 3.2rem;
            left: 0;
            top: 0;
            margin-left: -0.9rem;
            margin-top: -0.9rem;
            transition-duration: 0.75s;
            transition-delay: 0.25s;
            opacity: 0;
        }

        #testimonials1 .star-wrapper i.star:after {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            left: 50%;
            top: 50%;
            margin-left: 0;
            margin-top: 0;
            background-color: white;
            border-radius: 50%;
            opacity: 1;
            border: 0px solid #8FC640;
        }

        #testimonials1 .star-wrapper.active i.star:after {
            width: 150%;
            height: 150%;
            left: -25%;
            top: -25%;
            margin-left: 0;
            margin-top: 0;
            opacity: 0;
            transition-duration: 0.85s;
            transition-delay: 0.15s;
            transform: rotateY(360deg);
            border: 5px solid #8FC640;
        }

    #testimonials1 p {
        font-size: 1.15rem;
        opacity: 0;
        color: white;
        transition-duration: 0.5s;
    }

        #testimonials1 p.active {
            opacity: 1;
            transition-duration: 0.5s;
        }
    #testimonials1 h4 {
        font-size: 1.15rem;
        opacity: 0;
        color: white;
        transition-duration: 0.5s;
    }

        #testimonials1 h4.active {
            opacity: 1;
            transition-duration: 0.5s;
        }

.shop {
    position: relative;
    overflow: hidden;
    margin: 15px 0px;
}

    .shop:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0px;
        width: 60%;
        background: #8fc640;
        opacity: 0.9;
        -webkit-transform: skewX(-45deg);
        -ms-transform: skewX(-45deg);
        transform: skewX(-45deg);
        z-index: 1;
    }

    .shop:after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 1px;
        width: 100%;
        background: #8fc640;
        opacity: 0.9;
        -webkit-transform: skewX(-45deg) translateX(-100%);
        -ms-transform: skewX(-45deg) translateX(-100%);
        transform: skewX(-45deg) translateX(-100%);
    }

    .shop .shop-img {
        position: static;
        background-color: #E4E7ED;
        z-index: 1;
    }

        .shop .shop-img > img {
            width: 100%;
            -webkit-transition: 0.2s all;
            transition: 0.2s all;
        }

    .shop:hover .shop-img > img {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }

    .shop .shop-body {
        position: absolute;
        top: 0;
        width: 75%;
        padding: 30px;
        z-index: 10;
    }

        .shop .shop-body h3 {
            color: #FFF;
        }

        .shop .shop-body .cta-btn {
            color: #FFF;
            text-transform: uppercase;
        }

.button {
    width: 178px;
    height: 61px;
    background: 0 0;
    text-align: center;
    border: solid 2px #1b1b1b;
    overflow: hidden;
    cursor: pointer
}

    .button a {
        display: block;
        position: relative;
        font-size: 16px;
        font-weight: 600;
        line-height: 57px;
        color: #1b1b1b;
        background: 0 0;
        z-index: 1;
        -webkit-transition: all 200ms ease;
        -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        transition: all 200ms ease
    }

    .button::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 150%;
        height: 100%;
        background: #fff;
        z-index: 0;
        opacity: 0;
        -webkit-transform: rotate3d(0,0,1,-45deg) translate3d(0,-3em,0);
        transform: rotate3d(0,0,1,-45deg) translate3d(0,-3em,0);
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transition: -webkit-transform .3s,opacity .3s,background-color .3s;
        transition: transform .3s,opacity .3s,background-color .3s
    }

    .button:hover::after {
        opacity: 1;
        -webkit-transform: rotate3d(0,0,1,0deg);
        transform: rotate3d(0,0,1,0deg);
        -webkit-transition-timing-function: cubic-bezier(.2,1,.3,1);
        transition-timing-function: cubic-bezier(.2,1,.3,1)
    }

.button_light {
    border: solid 2px #fff
}

    .button_light a {
        color: #fff
    }

.button:hover a {
    color: #fff
}

.button_light:hover a {
    color: #1b1b1b
}

.home {
    width: 100%;
    height: 700px;
    background: #fff;
    z-index: 2
}

.home_slider_container {
    width: 100%;
    height: 100%
}

.home_slider_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center
}

.home_slider_content_container {
    position: absolute;
    left: 0;
    top: 25.3%;
    width: 100%
}

.home_slider_content {
    max-width: 580px;
    background: rgba(4, 4, 4, 0.7);
    padding: 20px;
    border-top: 5px solid #1bbd36;
}

.home_slider_title {
    font-size: 60px;
    font-weight: 600;
    color: #fff;
    line-height: 1.2
}

.home_slider_subtitle {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    line-height: 2.14;
    margin-top: 22px
}

.home_button {
    margin-top: 40px
}

.home_slider_dots_container {
    display: inline-block;
    position: absolute;
    left: 0;
    z-index: 10;
    width: 100%;
    padding-left: 60px;
    padding-right: 60px
}

.home_slider_dots {
    position: absolute;
    left: 15px;
    bottom: 5px
}

.home_slider_custom_dots {
}

.home_slider_custom_dot {
    display: inline-block;
    position: relative;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

    .home_slider_custom_dot:hover {
        color: #8FC640
    }

    .home_slider_custom_dot.active {
        color: #8FC640
    }

.owl-theme .owl-dots {
    display: none
}

.fadeIn {
    animation-delay: 1000ms
}

/* Error Page */
.error .clip .shadow {
    height: 180px; /*Contrall*/
}

.error .clip:nth-of-type(2) .shadow {
    width: 130px; /*Contrall play with javascript*/
}

.error .clip:nth-of-type(1) .shadow, .error .clip:nth-of-type(3) .shadow {
    width: 250px; /*Contrall*/
}

.error .digit {
    width: 150px; /*Contrall*/
    height: 150px; /*Contrall*/
    line-height: 150px; /*Contrall*/
    font-size: 120px;
    font-weight: bold;
}

.error h2 /*Contrall*/ {
    font-size: 32px;
}

.error .msg /*Contrall*/ {
    top: -190px;
    left: 30%;
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 32px;
}

.error .container-error-404 {
    position: relative;
    height: 250px;
    padding-top: 40px;
}

    .error .container-error-404 .clip {
        display: inline-block;
        transform: skew(-45deg);
    }

.error .clip .shadow {
    overflow: hidden;
}

.error .clip:nth-of-type(2) .shadow {
    overflow: hidden;
    position: relative;
    box-shadow: inset 20px 0px 20px -15px rgba(150, 150, 150,0.8), 20px 0px 20px -15px rgba(150, 150, 150,0.8);
}

.error .clip:nth-of-type(3) .shadow:after, .error .clip:nth-of-type(1) .shadow:after {
    content: "";
    position: absolute;
    right: -8px;
    bottom: 0px;
    z-index: 9999;
    height: 100%;
    width: 10px;
    background: linear-gradient(90deg, transparent, rgba(173,173,173, 0.8), transparent);
    border-radius: 50%;
}

.error .clip:nth-of-type(3) .shadow:after {
    left: -8px;
}

.error .digit {
    position: relative;
    top: 8%;
    color: white;
    background: #8FC640;
    border-radius: 50%;
    display: inline-block;
    transform: skew(45deg);
}

.error .clip:nth-of-type(2) .digit {
    left: -10%;
}

.error .clip:nth-of-type(1) .digit {
    right: -20%;
}

.error .clip:nth-of-type(3) .digit {
    left: -20%;
}

.error h2 {
    color: #A2A2A2;
    font-weight: bold;
    padding-bottom: 20px;
}

.error .msg {
    position: relative;
    z-index: 9999;
    display: block;
    background: #535353;
    color: #A2A2A2;
    border-radius: 50%;
    font-style: italic;
}

#process-loader {
    margin-left: auto;
    margin-right: auto;
    /*margin-top: 10px;*/
    /*    width: 4%;*/
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.9) url(img/contact_loader.gif) no-repeat center center;
    z-index: 1;
    opacity: 0.5;
}

.breadcrumbs ol a:hover {
    color: #8FC640;
}
/* Error Page */
@media(max-width: 767px) {
    /* Error Page */
    .error .clip .shadow {
        height: 100px; /*Contrall*/
    }

    .error .clip:nth-of-type(2) .shadow {
        width: 80px; /*Contrall play with javascript*/
    }

    .error .clip:nth-of-type(1) .shadow, .error .clip:nth-of-type(3) .shadow {
        width: 100px; /*Contrall*/
    }

    .error .digit {
        width: 80px; /*Contrall*/
        height: 80px; /*Contrall*/
        line-height: 80px; /*Contrall*/
        font-size: 52px;
    }

    .error h2 /*Contrall*/ {
        font-size: 24px;
    }

    .error .msg /*Contrall*/ {
        top: -110px;
        left: 15%;
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 18px;
    }

    .error .container-error-404 {
        height: 150px;
    }
    /* Error Page */
}
.ground-color {
    background: white;
}

@media only screen and (max-width: 480px) {
    [class*='col-xs'] {
        width: 100%;
    }
}

@media only screen and (max-width:575px) {
    p {
        font-size: 13px
    }

    .home {
        height: 100vh
    }

    .home_slider_container {
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        padding-bottom: 0
    }

    .home_slider_title {
        font-size: 24px
    }

    .home_slider_subtitle {
        font-size: 13px;
        margin-top: 15px
    }

    .button {
        width: 148px;
        height: 41px
    }

        .button a {
            font-size: 13px;
            line-height: 37px
        }

    .home_button {
        margin-top: 32px
    }
}

@media only screen and (max-width:767px) {
    .home_slider_content {
        max-width: 100%
    }

    .home_slider_container {
        padding-left: 0;
        padding-right: 0
    }

    .home_slider_dots_container {
        display: none
    }
}

@media only screen and (max-width: 768px) {
    .mt-50 {
        margin-top: 50px;
    }

    .products .products-item .products-info {
        opacity: 1;
        bottom: 20px;
    }

    .product-image {
        display: block;
        max-width: 300px;
        max-height: 198px;
        width: auto;
        height: auto;
        margin: 0 auto;
    }

    .detail-image {
        display: flex;
        max-width: 500px;
        max-height: 365px;
        height: auto;
    }
    /* #hero {
        height: 40vh;
    }*/
}

@media only screen and (max-width:991px) {

    .home_slider_title {
        font-size: 48px
    }

    .home_slider_dots_container {
        padding-left: 30px;
        padding-right: 30px
    }
}